@using Mvc_Vize_Projesi.Models.Entity;
@model List<Tbl_Ogrenci>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@{
    var AktifOgrenciler = Model.Where(ogr => !ogr.OgrenciMezun.HasValue || !ogr.OgrenciMezun.Value).ToList();
}

@*//guncelleme isleminde gerektigi icin mezun ogrenciler burada da tanimli*@

@{
    var MezunOgrenciler = Model.Where(ogr => ogr.OgrenciMezun.HasValue && ogr.OgrenciMezun.Value).ToList();
}




<table class="table table-bordered">
    <tr>
        <th>Ogrenci Id</th>
        <th>Ogrenci Bolum</th>
        <th>Ogrenci Ad Soyad</th>
        <th>Ogrenci No</th>
        <th>Ogrenci Kredi</th>
        <th>Mezun</th>
        <th>Sil</th>
        <th>Guncelle</th>
    </tr>
    <tbody>
        @foreach (var ogr in AktifOgrenciler)
        {
            <tr>
                <td>@ogr.ogreinciid</td>
                <td>@ogr.OgrenciBolum</td>
                <td>@ogr.OgrenciAdSoyad</td>
                <td>@ogr.OgrenciNo</td>
                <td>@ogr.OgrenciKredi</td>
                <td>@ogr.OgrenciMezun</td>
                <td><a href="/Ogrenci/Sil/@ogr.ogreinciid" class="btn btn-danger">Sil</a></td>
                <td><a href="/Ogrenci/OgrenciGetir/@ogr.ogreinciid" class="btn btn-success">Guncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Ogrenci/YeniOgrenci/" class="btn btn-primary">Yeni Ogrenci Ekle</a>