@using Mvc_Vize_Projesi.Models.Entity;
@model List<Tbl_Ogretmen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ogretmen Id</th>
        <th>Ogretmen Bolum</th>
        <th>Ogretmen Ad</th>
        <th>Ogretmen Soyad</th>
        <th>Ogretmen Giris</th>
        <th>Ogretmen Cikis</th>
    </tr>
    <tbody>
        @foreach (var ogretmen in Model)
        {
            <tr>
                <td>@ogretmen.ogretmenid</td>
                <td>@ogretmen.OgretmenBolum</td>
                <td>@ogretmen.OgretmenAd</td>
                <td>@ogretmen.OgretmenSoyad</td>
                <td>@ogretmen.OgretmenGiris</td>
                <td>@ogretmen.OgretmenCikis</td>
                <td><a href="/Ogretmen/SIL/@ogretmen.ogretmenid" class="btn btn-danger">Sil</a></td>
                <td><a href="/Ogretmen/OgretmenGetir/@ogretmen.ogretmenid" class="btn btn-success">Guncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Ogretmen/YeniOgretmen/" class="btn btn-primary">Yeni Ogretmen Ekle</a>

